
/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
    float: right;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.portfolio-favourite-movie {
	display:block;
	width:52px;
	height:52px;
	border-radius:4px;
	position: absolute;
	right:18px;
	top:50%;
	margin-top:-26px;
	background-color: goldenrod;
	color:#303030;
	text-align: center;
	transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
}

.portfolio-favourite-movie i {
	font-size:18px;
	margin-top:9px;
}

h1.movie-poster {
    float: right;
    margin-bottom: 0;
}

.list-header {
    background:url('/Images/test.jpg')no-repeat;
    background-size:100%;
    height: 140px;
    display:block;
    /*padding:0 !important;
    margin:0;*/
}

.change-background {
    color: #ef5350;
    cursor: pointer;
    left: auto;
    right: 15px;
    border: 2px solid #ef5350;
    top: 15px;
    font: 500 14px/1.5 'Open Sans', Verdana, sans-serif;
    position: absolute;
    min-width: 60px;
    text-align: center;
    text-transform: uppercase;
    z-index: 100;
    padding: 2px;
    box-sizing: border-box;
}

.menu-image {
    width: 100%;
    height: 100%;
}