
/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
    float: right;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.portfolio-favourite-movie {
	display:block;
	width:52px;
	height:52px;
	border-radius:4px;
	position: absolute;
	right:18px;
	top:50%;
	margin-top:-26px;
	background-color: goldenrod;
	color:#303030;
	text-align: center;
	transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
}

.portfolio-favourite-movie i {
	font-size:18px;
	margin-top:9px;
}