
/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
    float: right;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.portfolio-favourite-movie {
    display: block;
    width: 52px;
    height: 52px;
    border-radius: 4px;
    position: absolute;
    right: 18px;
    top: 50%;
    margin-top: -26px;
    background-color: goldenrod;
    color: #303030;
    text-align: center;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
}

h1.movie-poster {
    float: right;
    margin-bottom: 0;
}

.list-header {
    background: url('/Images/test.jpg')no-repeat;
    background-size: 100%;
    height: 140px;
    display: block;
    /*padding:0 !important;
    margin:0;*/
}

.change-background {
    color: #ef5350;
    cursor: pointer;
    left: auto;
    right: 15px;
    border: 2px solid #ef5350;
    top: 15px;
    font: 500 14px/1.5 'Open Sans', Verdana, sans-serif;
    position: absolute;
    min-width: 60px;
    text-align: center;
    text-transform: uppercase;
    z-index: 100;
    padding: 2px;
    box-sizing: border-box;
}

.movie-genre {
    font-size: 16px;
    font-weight: bold;
}

    .movie-genre a {
        color: goldenrod;
    }

.detail-add {
    float: left;
    margin-right: 10px;
    font-size: 30px;
}

.detail-header-moviecategory {
    margin-bottom: 0 !important;
}

.detail-header-movieinfo {
    color: #bebebe;
    margin-bottom: 10px;
}

.detail-header-10 {
    font-size: xx-small;
    font-weight: normal;
    margin-left: -8px;
}

.detail-header-rate {
    font-size: 30px;
    font-weight: 100;
}

.detail-imdb {
    font-size: 20px;
}

.detail-fileinfo {
    margin-bottom: 60px;
}

.detail-relatedmovie-image {
	box-shadow:0 3px 12px rgba(0,0,0, 0.18);
	-webkit-box-shadow:0 3px 12px rgba(0,0,0, 0.18);
}