packages/
MyMovies.Web/bin/
MyMovies.Web/obj/
MyMovies.Test/bin/
MyMovies.Entities/obj/
MyMovies.Infrastructure/bin/
MyMovies.Infrastructure/obj/
MyMovies.Common/bin/
MyMovies.Common/obj/
MyMovies.Test/obj/
MyMovies.Repository/bin/
MyMovies.Repository/obj/
MyMovies.Entities/bin/
MyMovies.MovieInfoDownloader/bin/
MyMovies.MovieInfoDownloader/obj/
MyMovies.Web/Resources/images/
MyMovies.Web/Resources/banners/
