@model MyMovies.Web.ViewModels.MoviePaginationViewModel
<div id="content" role="main">
    <div class="page-header dark">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3>Category: Horror</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        @foreach (var movie in Model.Movies)
        {           
            @Html.Partial("_Movie", movie)
        }
    </div>
</div>
