@model MyMovies.Web.ViewModels.MoviePaginationViewModel
<div id="content" role="main">
    @*<div class="page-header dark">*@
    <div class="page-header" data-bgattach="/images/test.jpg">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>@Model.ListTitle</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            @foreach (var movie in Model.Movies)
            {           
                @Html.Partial("_Movie", movie)
            }
        </div>
    </div>
</div>