
@*download this https://itsjavi.com/bootstrap-colorpicker/*@

<div id="content" role="main">
    <div class="page-header dark larger larger-desc">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>Banners</h1>
                    <p class="page-header-desc">Update banners to be displayed on Page list</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

    </div>
</div>
