<header id="header" role="banner">
    <div class="navbar-white collapse" id="header-search-form" aria-expanded="false" style="height: 1px;">
        <div class="container">
            <form class="navbar-form animated fadeInDown">
                <input type="search" id="s" name="s" class="form-control" placeholder="Search in here...">
                <button type="submit" class="btn-circle" title="Search"><i class="fa fa-search"></i></button>
            </form>
        </div><!-- End .container -->
    </div><!-- End #header-search-form -->
    <nav class="navbar navbar-white animated-dropdown ttb-dropdown" role="navigation">

        <div class="navbar-top clearfix">
            <div class="container">
                <div class="pull-right">
                    <ul class="navbar-top-nav clearfix hidden-sm hidden-xs">
                        <li><a href="login.html"><i class="fa fa-external-link"></i>Games</a></li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li><a href="/Account/LogOff"><i class="fa fa-external-link"></i>Logout</a></li>
                            <li><a href="#"><i class="fa fa-play-circle"></i>My Watchlist</a></li>
                        }
                        else
                        {
                            <li><a href="/Account/Login"><i class="fa fa-external-link"></i>Login</a></li>
                        }                        
                    </ul>
                    <div class="dropdown account-dropdown visible-sm visible-xs">
                        <a class="dropdown-toggle" href="#" id="account-dropdown" data-toggle="dropdown" aria-expanded="true">
                            <i class="fa fa-user"></i>My Account
                            <span class="angle"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="account-dropdown">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="shop-dashboard.html"><i class="fa fa-user"></i>My Account</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="login.html"><i class="fa fa-external-link"></i>Login</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="register.html"><i class="fa fa-terminal"></i>Register</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><i class="fa fa-gift"></i>My Wishlist</a></li>
                        </ul>
                    </div><!-- End .account-dropdown -->
                </div><!-- End .pull-left -->
            </div><!-- End .container -->
        </div><!-- End .navbar-top -->

        <div class="navbar-inner sticky-menu">
            <div class="container">
                <div class="navbar-header">

                    <button type="button" class="navbar-toggle btn-circle pull-right collapsed" data-toggle="collapse" data-target="#main-navbar-container">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand text-uppercase" href="/" title="Movies">Movies</a>

                    <button type="button" class="navbar-btn btn-icon btn-circle pull-right last visible-sm visible-xs collapsed" data-toggle="collapse" data-target="#header-search-form" aria-expanded="false"><i class="fa fa-search"></i></button>
                    @Html.Partial("_WatchList")
                </div><!-- End .navbar-header -->

                <div class="collapse navbar-collapse" id="main-navbar-container">
                    @if (User.IsInRole(MyMovies.Entities.Enums.RolesEnums.AdminRole))
                    {
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="/Admin/Index">Movies</a></li>
                            <li><a href="#">XPaths</a></li>
                            <li><a href="#">Users</a></li>
                        </ul>
                    }


                    <button type="button" class="navbar-btn btn-icon btn-circle navbar-right last  hidden-sm hidden-xs collapsed" data-toggle="collapse" data-target="#header-search-form" aria-expanded="false"><i class="fa fa-search"></i></button>

                    <div class="dropdown cart-dropdown navbar-right hidden-sm hidden-xs">
                        <button type="button" class="navbar-btn btn-icon btn-circle dropdown-toggle" data-toggle="dropdown"><i class="fa fa-play-circle"></i></button>
                        <div class="dropdown-menu cart-dropdown-menu" role="menu">
                            <p class="cart-dropdown-desc">
                                <i class="fa fa-cart-plus"></i>You have 2 product(s) in your cart:
                            </p>
                            <hr>
                            <div class="product clearfix">
                                <a href="#" class="remove-btn" title="Remove"><i class="fa fa-close"></i></a>
                                <figure>
                                    <a href="product.html" title="Product Name"><img class="img-responsive" src="images/products/thumbs/product1.jpg" alt="Product image"></a>
                                </figure>
                                <div class="product-meta">
                                    <h4 class="product-name"><a href="product.html">Seamsun 3d Smart Tv</a></h4>
                                    <div class="product-quantity">x 2 piece(s)</div><!-- End .product-quantity -->
                                    <div class="product-price-container">
                                        <span class="product-price">$80.50</span>
                                        <span class="product-old-price">$120.50</span>
                                    </div><!-- End .product-price-container -->
                                </div><!-- End .product-meta -->
                            </div><!-- End .product -->
                            <div class="product clearfix">
                                <a href="#" class="remove-btn" title="Remove"><i class="fa fa-close"></i></a>
                                <figure>
                                    <a href="product.html" title="Product Name"><img class="img-responsive" src="images/products/thumbs/product1.jpg" alt="Product image"></a>
                                </figure>
                                <div class="product-meta">
                                    <h4 class="product-name"><a href="product.html">Banana Smart Watch</a></h4>
                                    <div class="product-quantity">x 1 piece(s)</div><!-- End .product-quantity -->
                                    <div class="product-price-container">
                                        <span class="product-price">$120.99</span>
                                    </div><!-- End .product-price-container -->
                                </div><!-- End .product-meta -->
                            </div><!-- End .product -->
                            <hr>
                            <div class="cart-action">
                                <div class="pull-left cart-action-total">
                                    <span>Total:</span> $281.99
                                </div><!-- End .pull-left -->
                                <div class="pull-right">
                                    <a href="#" class="btn btn-custom ">Go to Cart</a>
                                </div>
                            </div><!-- End .cart-action -->
                        </div><!-- End .dropdown-menu -->
                    </div><!-- End .cart-dropdown -->
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container -->
        </div><!-- End .navbar-inner -->
    </nav>
</header><!-- End #header -->