@model IEnumerable<Tuple<string,string>>
@*We can only have 12 rows per column.*@

<div class="dropdown-menu megamenu" role="menu" ng-controller="BannerController">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <ul>
                    @foreach (var item in Model.Take(12))
                    {
                        var function = "showBannerImage('" + item.Item2 + "')";
                        <li>@Html.ActionLink(item.Item1, "Index", new { Category = item.Item1 }, new { ng_mouseover = function, image=item.Item2 })</li>
                    }
                </ul>
            </div>
            <div class="col-sm-3">
                <ul>
                    @if (Model.Count() > 12)
                    {
                        foreach (var item in Model.Skip(12).Take(24))
                        {
                            var function = "showBannerImage('" + item.Item2 + "')";
                            <li>@Html.ActionLink(item.Item1, "Index", new { Category = item.Item1 }, new { ng_mouseover = function, image = item.Item2 })</li>
                        }
                    }
                </ul>
            </div>

            <div class="col-md-6 hidden-sm">
                <img ng-src="{{banner}}" class="menu-image img-responsive" />
            </div>
        </div>
    </div>
</div>
